.App {
  text-align: center;
}

/* Navbar */

nav {
  z-index: 101;
  background-position: fixed;
}

.navbar-brand {
  margin-left: 1rem;
}

.btn-login, .btn-reg {
  border: 1px solid black;
  margin-left: 1rem;
}

.navbar-nav {
  padding-left: 57rem;
}

.navbar-nav li {
  margin-left: 1rem;
}

/* Login */

.login-container {
  background-color: rgba(214, 207, 207, 0.486);
  width: 50%;
  margin: 0 auto;
  margin-top: 7%;
}

#login, #reg {
  margin: 2rem;
}

.btn-login {
  border: 1px solid black;
}

#head-reg, #head-login {
  margin-top: 2rem;
}

/* Register */
.reg-container {
  margin-top: 2%;
}