.App {
  text-align: center;
}

/* Navbar */

nav {
  z-index: 101;
  background-position: fixed;
}

.navbar-brand {
  margin-left: 1rem;
}

.btn-login, .btn-reg {
  border: 1px solid black;
  margin-left: 1rem;
  text-decoration: none;
}

.navbar-nav {
  padding-left: 57rem;
}

.navbar-nav li {
  margin-left: 1rem;
}

/* Login */

.login-container {
  background-color: rgba(214, 207, 207, 0.486);
  width: 50%;
  margin: 0 auto;
  margin-top: 7%;
}

#login, #reg {
  margin: 2rem;
}

.btn-login {
  border: 1px solid black;
}

#head-reg, #head-login {
  margin-top: 2rem;
}

#alert-justRegistered {
  margin-bottom: 0;
  display: none;
}

/* Register */
.reg-container {
  margin-top: 2%;
}

#alert-reg {
  margin-bottom: 0;
  display: none;
}

/* Home */
#logout {
  display: none;
}

.greeting-container {
  text-align: left;
  margin: 1rem;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
}

.greeting-text {
  font-size: 25px;
}

.btn-toggler {
  margin-top: 0;
  border: 1px solid black;
}

#alert-postInserted, #alert-postNotInserted {
  display: none;
}

/* Text-Editor */

.rich-text {
  width: 80%;
  margin-left: 10%;
  border: 1px solid rgb(184, 177, 177);
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  min-height: 300px;
}

#post-title {
  width: 80%;
  margin-left: 10%;
}

.dropdown {
  text-align: left;
  margin-top: 1rem;
  margin-left: 10%;
}

.post-btn {
  border: 0.5px solid black;
}

/* Posts */
#post-container {
  text-align: left;
  margin-top: 2rem;
  padding: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

#created-by {
  margin-left: 10%;
  font-style: italic;
}

.post-content {
  padding: 1rem;
}

#likeBtn {
  width: 7%;
  border: 1px solid black;
}